Dataset from kaggle:https://www.kaggle.com/datasets/abhinav89/telecom-customer?resource=download
Target variable is churn, the goal is to predict whether the customer will churn or not

In [91]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

In [4]:
data =  pd.read_csv('archive/Telecom_customer churn.csv')

In [6]:
data.head()

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,23.9975,219.25,22.500,0.2475,0.00,0.0,0.0,0.0,0.0,-157.25,...,0.0,N,U,U,U,U,U,Y,361.0,1000001
1,57.4925,482.75,37.425,0.2475,22.75,9.1,9.1,0.0,0.0,532.25,...,0.0,Z,U,U,U,U,U,Y,240.0,1000002
2,16.9900,10.25,16.990,0.0000,0.00,0.0,0.0,0.0,0.0,-4.25,...,0.0,N,U,Y,U,U,U,Y,1504.0,1000003
3,38.0000,7.50,38.000,0.0000,0.00,0.0,0.0,0.0,0.0,-1.50,...,0.0,U,Y,U,U,U,U,Y,1812.0,1000004
4,55.2300,570.50,71.980,0.0000,0.00,0.0,0.0,0.0,0.0,38.50,...,0.0,I,U,U,U,U,U,Y,434.0,1000005

In [9]:
len(data)

100000

In [32]:
data.columns

Index(['rev_Mean', 'mou_Mean', 'totmrc_Mean', 'da_Mean', 'ovrmou_Mean',
       'ovrrev_Mean', 'vceovr_Mean', 'datovr_Mean', 'roam_Mean', 'change_mou',
       'change_rev', 'drop_vce_Mean', 'drop_dat_Mean', 'blck_vce_Mean',
       'blck_dat_Mean', 'unan_vce_Mean', 'unan_dat_Mean', 'plcd_vce_Mean',
       'plcd_dat_Mean', 'recv_vce_Mean', 'recv_sms_Mean', 'comp_vce_Mean',
       'comp_dat_Mean', 'custcare_Mean', 'ccrndmou_Mean', 'cc_mou_Mean',
       'inonemin_Mean', 'threeway_Mean', 'mou_cvce_Mean', 'mou_cdat_Mean',
       'mou_rvce_Mean', 'owylis_vce_Mean', 'mouowylisv_Mean',
       'iwylis_vce_Mean', 'mouiwylisv_Mean', 'peak_vce_Mean', 'peak_dat_Mean',
       'mou_peav_Mean', 'mou_pead_Mean', 'opk_vce_Mean', 'opk_dat_Mean',
       'mou_opkv_Mean', 'mou_opkd_Mean', 'drop_blk_Mean', 'attempt_Mean',
       'complete_Mean', 'callfwdv_Mean', 'callwait_Mean', 'churn', 'months',
       'uniqsubs', 'actvsubs', 'new_cell', 'crclscod', 'asl_flag', 'totcalls',
       'totmou', 'totrev', 'adjrev', 'adjmou', 'adjqty', 'avgrev', 'avgmou',
       'avgqty', 'avg3mou', 'avg3qty', 'avg3rev', 'avg6mou', 'avg6qty',
       'avg6rev', 'prizm_social_one', 'area', 'dualband', 'refurb_new',
       'hnd_price', 'phones', 'models', 'hnd_webcap', 'truck', 'rv', 'ownrent',
       'lor', 'dwlltype', 'marital', 'adults', 'infobase', 'income',
       'numbcars', 'HHstatin', 'dwllsize', 'forgntvl', 'ethnic', 'kid0_2',
       'kid3_5', 'kid6_10', 'kid11_15', 'kid16_17', 'creditcd', 'eqpdays',
       'Customer_ID'],
      dtype='object')

In [29]:
data['Customer_ID'].nunique()

100000

In [30]:
data[ 'churn'].value_counts()

0    50438
1    49562
Name: churn, dtype: int64

Conclusion: The dataset is rather balanced

# Encoding categorical features

In [64]:
#Check wheather there are any columns containing string values
data.select_dtypes(include='O')

,new_cell,crclscod,asl_flag,prizm_social_one,area,dualband,refurb_new,hnd_webcap,ownrent,dwlltype,...,infobase,HHstatin,dwllsize,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd
0,U,A,N,S,NORTHWEST/ROCKY MOUNTAIN AREA,Y,N,WCMB,O,S,...,M,C,A,N,U,U,U,U,U,Y
1,N,EA,N,U,CHICAGO AREA,N,N,WC,NaN,S,...,M,C,A,Z,U,U,U,U,U,Y
2,Y,C,N,S,GREAT LAKES AREA,N,N,NaN,O,S,...,M,C,A,N,U,Y,U,U,U,Y
3,Y,B,N,T,CHICAGO AREA,N,N,NaN,NaN,M,...,M,C,D,U,Y,U,U,U,U,Y
4,Y,A,N,U,NEW ENGLAND AREA,Y,N,WCMB,R,M,...,M,C,O,I,U,U,U,U,U,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,U,B,N,U,LOS ANGELES AREA,N,N,WC,O,S,...,M,NaN,A,S,U,U,U,Y,U,Y
99996,U,CY,Y,S,LOS ANGELES AREA,N,N,WC,O,S,...,M,I,A,N,U,U,Y,Y,Y,Y
99997,U,DA,N,U,SOUTHWEST AREA,Y,N,WCMB,NaN,NaN,...,M,NaN,NaN,U,Y,Y,U,U,U,N
99998,U,EA,N,U,SOUTHWEST AREA,Y,N,WCMB,NaN,NaN,...,NaN,NaN,NaN,S,U,U,U,U,U,N
99999,U,B,N,S,LOS ANGELES AREA,Y,N,WCMB,NaN,S,...,M,NaN,A,H,U,U,U,U,U,N

In [65]:
#Check wheather there are any columns containing bool values
data.select_dtypes(include='bool')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[100000 rows x 0 columns]

In [92]:
le = LabelEncoder()
label_encoded_df = data.copy()

#select all columns that contain strings
for col in label_encoded_df.select_dtypes(include='O').columns:
    label_encoded_df[col]=le.fit_transform(label_encoded_df[col])

In [93]:
#Dealing with NaNs

#Check how many NaN's there are
label_encoded_df.isna().sum()[50:]

# Replace NaN values with the mean of each column
label_encoded_df_na_replaced = label_encoded_df.fillna(label_encoded_df.mean())

In [94]:
#Scale the features
scaler=MinMaxScaler()
label_encoded_df_na_replaced_normalized = pd.DataFrame(scaler.fit_transform(label_encoded_df_na_replaced), columns=label_encoded_df_na_replaced.columns)

In [95]:
# separating features and a target variable
X = label_encoded_df_na_replaced_normalized.drop(['churn'], axis=1)
y = label_encoded_df_na_replaced_normalized.loc[:, 'churn']

In [96]:
label_encoded_df_na_replaced_normalized

,rev_Mean,mou_Mean,totmrc_Mean,da_Mean,ovrmou_Mean,ovrrev_Mean,vceovr_Mean,datovr_Mean,roam_Mean,change_mou,...,forgntvl,ethnic,kid0_2,kid3_5,kid6_10,kid11_15,kid16_17,creditcd,eqpdays,Customer_ID
0,0.007836,0.017961,0.113102,0.001553,0.000000,0.000000,0.000000,0.000000,0.000000,0.105936,...,0.0,0.529412,0.0,0.0,0.0,0.0,0.0,0.5,0.200219,0.00000
1,0.016538,0.039548,0.147263,0.001553,0.005265,0.008255,0.010155,0.000000,0.000000,0.125583,...,0.0,0.941176,0.0,0.0,0.0,0.0,0.0,0.5,0.134026,0.00001
2,0.006016,0.000840,0.100491,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110296,...,0.0,0.529412,0.0,0.5,0.0,0.0,0.0,0.5,0.825492,0.00002
3,0.011474,0.000614,0.148579,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.110374,...,0.0,0.823529,0.5,0.0,0.0,0.0,0.0,0.5,0.993982,0.00003
4,0.015950,0.046736,0.226354,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111514,...,0.0,0.352941,0.0,0.0,0.0,0.0,0.0,0.5,0.240153,0.00004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0.016856,0.042072,0.167300,0.005576,0.009506,0.012300,0.014837,0.000617,0.000349,0.110020,...,0.0,0.764706,0.0,0.0,0.0,0.5,0.0,0.5,0.425602,0.99996
99996,0.016856,0.042072,0.167300,0.005576,0.009506,0.012300,0.014837,0.000617,0.000349,0.110020,...,0.0,0.529412,0.0,0.0,0.5,0.5,0.5,0.5,0.459519,0.99997
99997,0.016856,0.042072,0.167300,0.005576,0.009506,0.012300,0.014837,0.000617,0.000349,0.110020,...,0.0,0.823529,0.5,0.5,0.0,0.0,0.0,0.0,0.239606,0.99998
99998,0.016856,0.042072,0.167300,0.005576,0.009506,0.012300,0.014837,0.000617,0.000349,0.110020,...,0.0,0.764706,0.0,0.0,0.0,0.0,0.0,0.0,0.043764,0.99999
99999,0.016856,0.042072,0.167300,0.005576,0.009506,0.012300,0.014837,0.000617,0.000349,0.110020,...,0.0,0.294118,0.0,0.0,0.0,0.0,0.0,0.0,0.005470,1.00000

# Feature Importance

First we will use filter methods to filter the worst features

In [104]:
# Plotting correlation matrix
selector = SelectKBest(chi2, k=50)

selected_features = selector.fit_transform(X, y)

In [109]:
print(selected_features)

print('Original number of features:', X.shape)
print('Reduced number of features:', selected_features.shape)

[[1.79613738e-02 1.13102391e-01 0.00000000e+00 ... 5.00000000e-01
  2.00218818e-01 0.00000000e+00]
 [3.95477912e-02 1.47263135e-01 8.25471698e-03 ... 5.00000000e-01
  1.34026258e-01 1.00001000e-05]
 [8.39699347e-04 1.00490953e-01 0.00000000e+00 ... 5.00000000e-01
  8.25492341e-01 2.00002000e-05]
 ...
 [4.20717994e-02 1.67299838e-01 1.23000362e-02 ... 0.00000000e+00
  2.39606127e-01 9.99980000e-01]
 [4.20717994e-02 1.67299838e-01 1.23000362e-02 ... 0.00000000e+00
  4.37636761e-02 9.99990000e-01]
 [4.20717994e-02 1.67299838e-01 1.23000362e-02 ... 0.00000000e+00
  5.47045952e-03 1.00000000e+00]]
Original number of features: (100000, 99)
Reduced number of features: (100000, 50)

In [110]:
#Exploring the results
# scores = selected_features.scores_
# p_values = selected_features.pvalues_